{% extends 'base.html.twig' %}

{% block title %}
  Fortunes :: Les + bien
{% endblock %}

{% block body %}
<div id="wrapper">
  <div id="container">
    <div id="status">
      <div class="section-title">
        Les quotes qui roxent du poney.
      </div>

      {% for story in stories %}
        {{ include("default/_fortune.html.twig") }}
      {% endfor %}

    </div>
  </div>
</div>
{% endblock %}
